/.idea
/.svn
/.vscode
*.log
.env

# 依赖
/client/node_modules/*
/server/node_modules/*
/electron/node_modules/*
/shared/node_modules/*
node_modules

# CS 运行时数据
/electron/data/*
/data/*

# CS 打包输出
/electron/dist/*
/dist/*
