# 服务器配置
SERVER_PORT=3001
NODE_ENV=development

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=etf
DB_CONNECTION_LIMIT=20

# 爬虫配置
SPIDER_INTERVAL=15
SPIDER_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36